.LogInView{
  position: absolute;
  width: 100%;
  text-align: center;
}
.LogInWindow {  
  display: flex;
  flex-direction: column;
}
.LogInView .ErrorMsg {
  color: red;
}

@media screen and (orientation:landscape) and (min-aspect-ratio:7/5) {
  .LogInView {
    font-size: 3.5vh;
    min-height: 84vh;
  }
  .LogInWindow {
    height: 34vh;
    padding-top: 20vh;
  }
  .LogInView  p {
    margin: 0.5vh;
  }
  .LogInView input[type = 'text'] {
    font-size: 3vh;
    width: 35vh;
    height: 4vh;
  }
  .LogInView input[type = 'button'] {
    font-size: 2.5vh;
    margin: 0.5vh;
    padding: 0.5vh;
  }
  .LogInView .ErrorMsg {
    font-size: 3vh;
  }

}
@media screen and (orientation:landscape) and (max-aspect-ratio:7/5) {
  .LogInView {
    font-size: 3.5vh;
    min-height: 84vh;
  }
  .LogInWindow {
    height: 34vh;
    padding-top: 20vh;
  }
  .LogInView  p {
    margin: 0.5vh;
  }
  .LogInView input[type = 'text'] {
    font-size: 2.5vh;
    width: 30vh;
    height: 4vh;
  }
  .LogInView input[type = 'button'] {
    font-size: 2vh;
    margin: 0.3vh;
    padding: 0.3vh;
  }
  .LogInView .ErrorMsg {
    font-size: 2.5vh;
  }
}
/*Тел*/
@media screen and (orientation:portrait) and (max-aspect-ratio:5/7){
  .LogInView {
    font-size: 3vh;
    min-height: 86vh;
  }
  .LogInWindow {
    height: 30vh;
    padding-top: 20vh;
  }
  .LogInView  p {
    margin: 0.5vh;
  }
  .LogInView input[type = 'text'] {
    font-size: 3vh;
    width: 30vh;
    height: 4vh;
  }
  .LogInView input[type = 'button'] {
    font-size: 2.5vh;
    margin: 0.5vh;
    padding: 0.5vh;
  }
  .LogInView .ErrorMsg {
    font-size: 3vh;
  }
  
}
@media screen and (orientation:portrait) and (min-aspect-ratio:5/7){
  .LogInView {
    font-size: 3vh;
    min-height: 86vh;
  }
  .LogInWindow {
    height: 30vh;
    padding-top: 20vh;
  }
  .LogInView  p {
    margin: 0.5vh;
  }
  .LogInView input[type = 'text'] {
    font-size: 3vh;
    width: 35vh;
    height: 4vh;
  }
  .LogInView input[type = 'button'] {
    font-size: 2.5vh;
    margin: 0.5vh;
    padding: 0.5vh;
  }
  .LogInView .ErrorMsg {
    font-size: 3vh;
  }
}