.YearView{
  width: 100%;
}
.YearView > p {
  text-align: center;  
  font-weight: bold;
}
.YearView >p span {
  padding: 0 10px;
}
.YearView .YearTables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*развернутый экран*/
@media screen and (orientation:landscape) and (min-aspect-ratio:7/5) {
  .YearView > p {
    font-size: 2.5vh;
    padding: 1vh;
  } 
  .YearView >p span {
    padding: 0 1vh;
  }
  .YearView select{
    width: 10%;
    font-size: 2vh;
  }
  
}
@media screen and (orientation:landscape) and (max-aspect-ratio:7/5) {
  .YearView > p {
    font-size: 2.5vh;
    padding: 1vh;
  } 
  .YearView >p span {
    padding: 0 1vh;
  }
  .YearView select{
    width: 10%;
    font-size: 2vh;
  }
}
/*Тел*/
@media screen and (orientation:portrait) and (max-aspect-ratio:5/7){
  .YearView > p {
    font-size: 2.1vh;
    padding: 1vh;
  } 
  .YearView >p span {
    padding: 0 1vh;
  }
  .YearView select{
    width: 20%;
    font-size: 2vh;
  }
  
}

@media screen and (orientation:portrait) and (min-aspect-ratio:5/7){
  .YearView > p {
    font-size: 2.1vh;
    padding: 1vh;
  } 
  .YearView >p span {
    padding: 0 1vh;
  }
  .YearView select{
    width: 20%;
    font-size: 2vh;
  }
  

}
  